#skills {
    text-align: center;

}

#skills table {
    font-size: 1.5rem;
    text-align: start;
    margin: auto;

}

#skills img {
    --margin-side: 5px;
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);

    width: 50px;
}
